@model ExeSeneLauIII.Models.Veiculo

@{
    ViewBag.Title = "ConsultaVeiculo";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<h1>Veiculos</h1>
<img src="~/Images/DucatiV4S.png" height="200px" width="400px"/>
<h2>@ViewData["MFabricante"] / @ViewData["MChassis"] / @ViewData["MCilindrada"] cc / @ViewData["MTransmissao"]</h2>
<img src="~/Images/camaro2023.jpg" height="200px" width="400px"/>
<h2>@ViewData["CFabricante"] / @ViewData["CChassis"] / @ViewData["CNome"] / @ViewData["CTransmissao"]</h2>


